<div class="container">
  <h1>User List</h1>
  <ul>
    {{#each this}}
      <li>
        <strong>Name:</strong> {{name}} <br>
        <strong>Age:</strong> {{age}} <br>
        <strong>Email:</strong> {{email}}
      </li>
    {{/each}}
  </ul>
</div>